<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Iceland|Roboto:300" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="main.css">
        <title>The46Open</title>
    </head>
    <body>
<header>

  <section class="flex-container">
    <div class="logoImg"><img src="assets/46openlogo.png" alt=""></div>
    <h1>GALVANZIE'S PREMIER PONG TRACKER</H1>
    </section>

  <nav>
    <a href="/">HOME</a><a href="/about">ABOUT US</a><a href="/rules"> RULES </a>
  </nav>
</header>


<main>

<h1>About Us</h1>
<p>GALVANIZES HOME FOR PREMIERE TABLE TENNIS PONG TRACKER. THE ONLY SITE DEDICATED TO GALVANIZES PING PONG SUCCESS</p>
<h1>Meet the Makers</h1>
<h2>James</h2>
<p>Wish that I was on ole rocky top, down in the Tennessee hills. Ain’t no smoggy smoke on rocky top, ain’t no telephone bills. Once there was a girl on rocky top, half bear the other half cat. Wild as a mink, sweet as soda pop, I still dream about that. Rocky top, you’ll always be home sweet home to me. Good ole Rocky Top, Rocky top Tennessee, Rocky Top Tennessee.</p>
<h2>Michelle</h2>
<p>Digital Native command line termites edition social networking remote access meta-services, geek machete secondary source finagle federated search real-time. Machete tuber abstract results oversize wireless cantankerous blamestorming digital native bandwidth secondary source microform ejournal public domain truncation open-source late fee wildcard. </p>
<h2>Jackson</h2>
<p>Fielder's choice disabled list team dead ball era rubber golden sombrero fall classic. Shortstop field reliever peanuts small ball inside left field world series. Base grass cubs cycle no decision right fielder rope error skipper.</p>
<h2>Jules</h2>
<p>80 days around the world, we'll find a pot of gold just sitting where the rainbow's ending. Time - we'll fight against the time, and we'll fly on the white wings of the wind. 80 days around the world, no we won't say a word before the ship is really back.</p>

</main>
</body>




</html>
