<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Iceland|Roboto:300" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="main.css">
        <title>The46Open</title>
    </head>
    <body>
<header>

  <section class="flex-container">
    <div class="logoImg"><img src="assets/46openlogo.png" alt=""></div>
    <h1>GALVANZIE'S PREMIER PONG TRACKER</H1>
    </section>

  <nav>
    <p>ABOUT US</p><p> RULES </p><p>PROFILE</p>
  </nav>
</header>


<main>



</main>
</body>




</html>
