<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link type="text/css" rel="stylesheet" href="main.css">
        <title>The46Open</title>
    </head>
    <body>
<header>
    Welcome to The 46 Open
</header>

<p>this is a test paragraph</p>



<!-- <h1> Welcome to {{title}} </h1>
<p> My {{title}} is the best </p>
<p>My {{title}} is really cool</p>

{{#each instructors}}
<h2> {{name}} </h2>
{{/each}} -->

    </body>


</html>
