<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Iceland|Roboto:300" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="main.css">
        <title>The46Open</title>
    </head>
    <body>
<header>

  <section class="flex-container">
    <div class="logoImg"><img src="assets/46openlogo.png" alt=""></div>
    <h1>GALVANZIE'S PREMIER PONG TRACKER</H1>
    </section>

  <nav>
  <a href="/">HOME</a><a href="/about">ABOUT US</a><a href="/rules"> RULES </a><a href="/account"> ACCOUNT </a>
  </nav>
</header>
  <main>
    <h1>WELCOME TO PROFILE PAGE </h1>

    {{#each data}}
      <h2>Ready to play, {{this.first_name}} ?<h2>
        <h3>CURRENT RATING: {{this.rating}}</h3>
        <h3>YOUR CAMPUS: {{this.campus}}</h3>

    {{/each}}
  </main>

</body>




</html>
