<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Iceland|Roboto:300" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="/main.css">
        <title>The46Open</title>
    </head>
    <body>
<header>

  <section class="flex-container">
    <div class="logoImg"><img src="/assets/46openlogo.png" alt=""></div>
    <h1>GALVANZIE'S PREMIER PONG TRACKER</H1>
    </section>

  <nav>
  <a href="/">LOG OUT</a><a href="/about">ABOUT US</a><a href="/rules"> RULES </a><a href="/account/{{id}}"> ACCOUNT </a>
  </nav>
</header>
  <main>
    <h1>WELCOME TO PROFILE PAGE </h1>


      <h2>Ready to play, {{first_name}} ?<h2>
        <h3>CURRENT RATING: {{rating}}</h3>
        <h3>YOUR CAMPUS: {{campus}}</h3>

  </main>

</body>




</html>
