<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Iceland|Roboto:300" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/main.css">
        <title>The46Open</title>
    </head>
    <body>
      
 {{> header}}

  <main class="text-cen">

    <h1>--- RULES ---</h1>
    <h1>HOUSE RULES</h1>
    <h2>THE BASICS</h2>
      <p>Be fair. Be honest. Be kind</p>
    <h1>RULES OF THE TABLE</h1>
      <h2>THE TECHNICAL</h2>
        <p>All ranked matches must be played to twenty one</p>
        <p>The loser is responsible for logging the score</p>
        <p>All other rules all fluid but must be agreed upon by both players before the match begins</p>
        <a href="https://pongworld.com/table-tennis-sport/rules">Suggested Rules</a>
    <h1>KNOW YOUR RANK SYSTEM</h1>
      <p>The special rank system designed by Jackson and Jules is modeled after the chess ELO system.</p>
      <p>Ranks are classed by metals</p>
        <ul>Galvainzed Ladder</ul>
          <li>1500 Titanium</li>
          <li>1400 Chromium</li>
          <li>1300 Stainless Steel</li>
          <li>1200 Steel</li>
          <li>1100 Zinc</li>
          <li>1000 Copper</li>
          <li>900 Aluminium</li>
    <h1>MATCH ME?</h1>
    <h2>Under Construction</h2>
    <p>Soon players will be able to match with random unranked or ranked players as well as choose thier opponent.</p>
    <p class="openend">Rank players will also be able to be matched of players of simlair skill to facilitate their ability to progress throught the ladder</p>



  </main>

</body>




</html>
