<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Iceland|Roboto:300" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/main.css">
        <title>The46Open</title>
    </head>
    <body>
   {{> header}}
      <main>
        <h1>- RULES -</h1>
        <section class="flexy">
           <section class="cont1 left-align">
           <h3>HOUSE RULES</h3>
             <h5>(THE BASICS)</h5>
             <ol>
              <li>Be  fair. </li>
                <li>Be honest.</li>
                <li>Be kind.</li>
             </ol>
           </section>
           <section class="cont1 left-align">
          <h3>RULES OF THE TABLE</h3>
             <h5>(THE TECHNICAL)</h5>
             <a href="https://pongworld.com/table-tennis-sport/rules" class="rules"> - View Suggested Rules - </a>
             <ol>
               <li>All ranked matches must be played to twenty one</li>
               <li>The loser is responsible for logging the score</li>
               <li>All other rules all fluid but must be agreed upon by both players before the match begins</li>
             </ol>
           </section>
         </section>

    <h1>- Features -</h1>
         <section class="flexy">
            <section class="cont1 left-align">
            <h3>- KNOW YOUR RANK SYSTEM -</h3>
            <p>The special rank system designed by Jackson and Jules <br>is modeled after the chess ELO system.</p>
            <p>Ranks are classed by metals</p>
              <h5>Galvainzed Ladder:</h5>
                <p>1500 Titanium</p>
                <p>1400 Chromium</p>
                <p>1300 Stainless Steel</p>
                <p>1200 Steel</p>
                <p>1100 Zinc</p>
                <p>1000 Copper</p>
                <p>900 Aluminium</p>
            </section>
            <section class="cont1 left-align">
              <h3>- MATCH ME? -</h3>
              <h5>Under Construction</h5>
              <p>Soon players will be able to match with random unranked or ranked players as well as choose thier opponent.</p>
              <p class="openend">Rank players will also be able to be matched of players of simlair skill to facilitate their ability to progress throught the ladder</p>
            </section>
          </section>

      </main>
    {{> modalscript}}
  </body>
</html>
