<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Iceland|Roboto:300" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="main.css">
        <title>The46Open</title>
    </head>
    <body>
<header>

  <section class="flex-container">
    <div class="logoImg"><img src="assets/46openlogo.png" alt=""></div>
    <h1>GALVANZIE'S PREMIER PONG TRACKER</H1>
    </section>

  <nav>
    <a href="/">HOME</a> <p>PROFILE</p>
  </nav>
</header>
  <main>
    <h1>RULES</h1>
    <h1>HOUSE RULES</h1>
    <ul>THE BASICS</ul>
      <li>treat poeple like people</li>
    <h1>RULES OF THE TABLE</h1>
      <ul>THE TECHNICAL</ul>
        <li>all ranked matches must be played to twenty one</li>
    <h1>KNOW YOUR RANK SYSTEM</h1>
      <p>jackson nerd stuff</p>
    <h1>MATCH ME?</h1>
    <p>random matches vs friendly challenges</p>
  </main>

</body>




</html>
