// FONTS
$font-main: 'Roboto', sans-serif;
$font-header: 'Iceland', cursive;
// COLORS
$primary-orange: #ff8f00;
$dark-orange: #c56000;
$light-orange: #ffc046;
$primary-blue: #03a9f4;
$dark-blue:#007ac1;
$light-blue: #67daff;
// ======================
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: $font-main;
  margin: 0;
  color: black;
}


/*============================= MODAL*/
.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: lightgray;
    box-shadow: 1px 1px 2px black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    background-color: lightgray;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.add-btn {
  margin-top: 9px;
  font-size: 25px;
  margin-bottom: 20px;
  background-color: white;
}
